setuptools
wheel
spacy==3.8.0
pandas==2.2.0
tqdm==4.66.2
beautifulsoup4==4.12.3
wandb==0.18.7
readability-lxml==0.8.1
tenacity==8.2.3
coloredlogs==15.0.1
fastapi==0.113.0
openai==1.12.0
timeout-decorator==0.5.0
nltk==3.8.1
openpyxl==3.1.2
timeout-decorator==0.5.0
matplotlib==3.8.4
pyfiglet==1.0.2
dspy-ai==2.5.33
fuzzywuzzy==0.18.0
pydantic-settings==2.0.3
Pyarrow==16.1.0
boto3==1.34.128
google-cloud-firestore==2.19.0
google-cloud-tasks==2.17.1
google-cloud-storage==2.18.2
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
scikit-learn==1.5.2
modal==0.67.20